* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

}

.main-container {
    box-sizing: border-box;
    width: 100%;
    background-color: #1E1E1E;

}

.header-container {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-header-container {
    padding-left: 90px;
}

.header-right-container {
    display: flex;
    gap: 41px;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}

.right-home {
    width: 46px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.right-work {
    width: 100px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.6;
}

.right-App {
    width: 62px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.6;
}

.right-btn-register {
    width: 145px;
    height: 48px;
    background-color: #CBFC01;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;

}

.header-bottom-container {

    width: 100%;
    display: flex;
    margin-top: 70px;
    margin-bottom: 155px;
}

.header-bottom-left {
    width: 637px;
    margin-left: 136px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header-bottom-content-01 {
    width: 637px;
    height: 210px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.header-bottom-content-02 {
    width: 501px;
    height: 81px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.9;
}

.header-bottom-btn {
    padding: 24px 48px;
    gap: 10px;

    width: 182px;
    height: 66px;

    background: #CBFC01;
    border-radius: 36px;
}

.header-bottom-img {
    width: 380px;
    height: 436px;
}

.middle-container-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 135px;
    gap: 170px;
    width: 100%;
    background: #CBFC01;
    border-radius: 100px;
}

.middle-container-01-upper {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    gap: 100px;
}

.middle-container-01-upper-card {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.middle-container-01-upper-card-logo {
    width: 60px;
    height: 60px;
}

.middle-container-01-upper-card-header {
    width: 316px;
    height: 57px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    /* identical to box height */


    color: #151515;

}

.middle-container-01-upper-card-content {
    width: 316px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #151515;
}

.middle-container-01-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;

}

.middle-container-01-lower-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 543.57px;


}

.middle-container-01-lower-left-01 {
    display: flex;
    gap: 12px;
}

.middle-container-01-lower-left-01-left {
    box-sizing: border-box;
    width: 261.8px;
    height: 180px;
    padding: 50px;
    background-color: #F2F2F2;
    border: 0.5px solid #CBFC01;
    box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
    border-radius: 50px;
}

.middle-container-01-lower-left-01-left-name {
    width: 134px;
    height: 30px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */


    color: #070707;

}

.middle-container-01-lower-left-01-left-num {
    /* width: 146.75px; */
    height: 60px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    /* identical to box height, or 60px */


    color: #070707;
}

/* .middle-container-01-lower-left-01-right{
    box-sizing: border-box;
    width: 261.8px;
    height: 180px;
    background-color: #F2F2F2;
    border: 0.5px solid #CBFC01;
    box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
    border-radius: 50px;
} */
.middle-container-01-lower-left-01-lower {
    box-sizing: border-box;
    /* height: 286px; */
    /* background-color: #F2F2F2;
    border: 0.5px solid #CBFC01;
    box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
    border-radius: 50px; */
    object-fit: cover;
}

.middle-container-01-lower-right {
    width: 445px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.middle-container-01-lower-right-01 {
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #000000;

}

.middle-container-01-lower-right-02 {
    width: 409.73px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;

}

.middle-container-01-lower-right-03 {
    width: 234.8px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 20px;
    color: #F2F2F2;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
}

.middle-container-02 {
    width: 100%;
    height: 1000px;

}

.middle-container-02-background {
    height: 1000px;
    position: absolute;
}

.middle-container-02-over-con {
    padding-top: 250px;
    display: flex;
    margin-left: 100px;
    align-items: center;
}

.middle-container-02-content-left-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.middle-container-02-content-left-con-01 {
    width: 567px;
    height: 198px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 66px;
    color: #FFFFFF;


}

.middle-container-02-content-left-con-02 {
    width: 583px;
    height: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.middle-container-02-content-right-con-img {
    height: 576px;
    width: 530px;
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    background-image: url("./icons/Cart\ Glass\ 6.png");
    background-repeat: no-repeat;
    border-radius: 24px;
    background-size: 260px 480px;
    background-position: right 25% top 0px;
    /* object-fit: cover; */
}

/* .middle-container-02-content-right-con-img-only{
    width: 355px;
    height: 400px;
} */
.middle-container-02-content-right-con-img-only-01 {
    height: 400px;
    width: 530px;
    /* padding-bottom: 40px; */
    /* padding-right: 150px; */


}

.middle-container-02-content-right-con-only {
    width: 200px;
    height: 40px;
    margin-left: 230px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;

    color: #FFFFFF;

}

.middle-container-03 {
    width: 100%;
    height: 72px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF
}

.middle-container-04 {

    width: 100%;
}

.middle-container-04-background {
    position: absolute;
    height: 1000px;
    margin-left: 68.25%;
    z-index: 0;

}

.middle-container-04-card {
    position: relative;

    display: flex;
    gap: 48px;
    z-index: 1;
    margin-left: 170px;
    margin-top: 88px;

}

.middle-container-04-card-01-img {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 321px;
    height: 507px;
    background-color: #141414;
    border-radius: 10px;

}

.middle-container-04-card-01-img-01 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #CBFC01;
}

/* .middle-container-04-card-01-img-02 {} */

.middle-container-04-card-02-img {
    display: flex;
    flex-direction: column;
    width: 321px;
    height: 507px;
    align-items: center;
    gap: 54px;
    padding-top: 85px;
    background-color: #141414;
    border-radius: 10px;
}

.middle-container-04-card-02-img-01 {
    width: 243px;
    height: 258px;
}

.middle-container-04-card-02-img-02 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #E4FF3D;
}

.middle-container-04-middle-contest {
    margin-top: 223px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-bottom: 83px;
}

.middle-container-04-middle-contest-01 {

    width: 495px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;

}

.middle-container-04-middle-contest-02 {
    width: 586px;
    height: 108px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    text-align: center;

    color: #FFFFFF;
}

.middle-container-04-middle-add {
    width: 948px;
    height: 96px;
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    border: 0.5px solid #E4FF3D;
    box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
    border-radius: 20px;
    margin-left: 15%;

}

.middle-container-04-middle-add-01 {
    width: 630px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;

    color: #FFFFFF;

}

.middle-container-04-middle-add-02 {
    width: 26px;
    height: 26px;





}

.middle-container-05 {
    width: 100%;
    /* height: 1300px; */
}

.middle-container-05-background {

    position: absolute;
    z-index: 0;
}

.middle-container-05-img {
    margin-top: 343px;
}

.middle-container-06 {

    display: flex;
    justify-content: center;


}

.middle-container-06-img {
    width: 1090px;
    height: 508px;
    border-radius: 50px;
}

.middle-container-07 {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 250px;

}

.middle-container-07-small-hed-01 {

    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.middle-container-07-small-para {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.middle-container-07-small-para-01 {
    width: 612px;
    height: 111px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}

.middle-container-07-small-para-02 {
    width: 473px;
    height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;

    color: #FFFFFF;
    opacity: 0.8;
}

.middle-container-08 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
}

.middle-container-08-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;

}

.middle-container-08-con-img {
    width: 268.93px;
    height: 324.57px;
    background-color: #000000;
    border-radius: 32px;

}

.middle-container-08-con-img-header {
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;


}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 200px;
    background-color: #111111;
}

.footer-container-01 {
    padding-top: 50px;
    display: flex;
    gap: 150px;
}

.footer-container-01-col {

    display: flex;
    flex-direction: column;
}

.footer-container-01-col-header {
    height: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 5px;
    color: #D0DAF5;
}

.footer-container-01-col-con {
    /* width: 105px; */
    height: 21px;
    margin-top: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #D0DAF5;

    opacity: 0.5;
}

.footer-container-01-col-02 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 338px;
    height: 258px;
    background: rgba(37, 68, 155, 0.05);
    mix-blend-mode: normal;
    padding: 32px;
    /* margin-left: 10%; */

}

.footer-container-01-col-02-header {
    width: 79px;
    height: 28px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #D0DAF5;

}

.footer-container-01-col-02-input {
    display: flex;
    /* align-items: center; */
    /* 
align-items: flex-start;
padding: 16px;
gap: 10px;
width: 248px;
height: 50px; */



    /* border: 1.5px solid #161829; */
    border-radius: 6px;
}

.footer-container-01-col-02-input-01 {
    width: 200px;
    height: 50px;
    padding: 16px;
    background-color: #0D0D0D;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #D0DAF5;

    opacity: 0.5;


}

.footer-container-01-col-02-input-01-img {
    box-sizing: border-box;
    width: 50px;
    /* height: 47px; */
    background-color: #E4FF3D;
    border: 1.5px solid #161829;
    /* border-radius: 6px; */
}

.footer-container-01-col-02-content {
    width: 248px;
    height: 55px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #D0DAF5;

    opacity: 0.5;

}

.footer-container-02 {

    width: 1074px;
    height: 1px;
    margin-top: 100px;
    background: #D0DAF5;
    opacity: 0.06;
    border: 1px solid #D0DAF5;
}

.footer-container-03 {
    margin-top: 50px;
    display: flex;
    gap: 200px;
    /* width: 100%;
   justify-content: space-around; */
    align-items: center;

}

.footer-03-con-text {
    display: flex;
    gap: 30px;
}

.footer-03-img-logo {
    /* padding-right: 40px; */
}

.footer-03-con-text-span {
    width: 50px;
    height: 28px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;


    color: #E4FF3D;

}

.footer-03-con-social-icon-con {
    display: flex;
    gap: 15px;

}